/.vscode
/.venv
/issue_tracking_tool/__pycache__
/user_app/__pycache__
/user_app/migrations/__pycache__
/project_app/__pycache__
/project_app/migrations/__pycache__
/project_app/project/__pycache__
/project_app/user_project_relation/__pycache__
/project_app/sprint/__pycache__
/project_app/issue/__pycache__
/project_app/watcher/__pycache__
/project_app/comment/__pycache__
/project_app/label/__pycache__
